<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/true.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Fake News Detector</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand ml-1" href="#"><img src="Fake.png" alt="fake"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li><a class="nav-item nav-link active" href="{{url_for('first')}}"><b>Re-Check</b></a></li>
            <li><a class="nav-item nav-link active" href="#"><b>How It Works</b></a></li>
            <li><a class="nav-item nav-link active" href="#"><b>Team</b></a></li>
          </div>
        </div>
    </nav>
    <section id="real" class="gradient">
        <div class="container">
            <div class="row">
                <div class="body">
                    <h1>Real News</h1>
                    <span class="Counter" data-count="{{acc}}">0</span>
                    <span> %</span>
                </div>
                <div class="detail-bre">
                    <h2>Detail Break down of this result</h2>
                    <ul>
                        <li>SVM predicted class = {{ svm }}</li>
                        <li>SVM(Linear) predicted class = {{ svmlin }}</li>
                        <li>SVM(RMF) predicted class = {{ RMF }}</li>
                        <li>Logistic Regression predicted class = {{ lor }}</li>
                        <li>MNB predicted class = {{ mnb }}</li>
                        <li>MLP predicted class = {{ mlp }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
 <script>
     $(document).ready(function(){
         $('.Counter').each(function() {
        var $this = $(this),
        countTo = $this.attr('data-count');
   $({ countNum: $this.text()}).animate({
     countNum: countTo
   },
   {

     duration: 3000,
     easing:'linear',
     step:function() {
       $this.text(Math.floor(this.countNum));
     },
     complete:function() {
       $this.text(this.countNum);
     }
   });
 });
});
 </script>   
</body>
</html>
